In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/data.csv', encoding='latin-1')
df.head()
df

/tmp/ipython-input-1540543242.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/data.csv', encoding='latin-1')

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
191803,514.0,3/5/2012,Madhya Pradesh,Singrauli,Madhya Pradesh State Pollution Control Board,"Residential, Rural and other Areas",23.9,26.5,64.0,NaN,"N.T.P.C., Vidyanagar, Singrauli",NaN,2012-05-03
191804,514.0,3/12/2012,Madhya Pradesh,Singrauli,Madhya Pradesh State Pollution Control Board,"Residential, Rural and other Areas",23.2,24.3,62.0,NaN,"N.T.P.C., Vidyanagar, Singrauli",NaN,2012-12-03
191805,527.0,1/3/2012,Madhya Pradesh,Ujjain,Madhya Pradesh State Pollution Control Board,Industrial Area,17.2,18.1,130.0,NaN,"District Office, Ujjain",NaN,2012-03-01
191806,527.0,1/6/2012,Madhya Pradesh,Ujjain,Madhya Pradesh State Pollution Control Board,Industrial Area,17.7,18.9,135.0,NaN,"District Office, Ujjain",NaN,2012-06-01
191807,527.0,1/10/2012,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
x = df["no2"].dropna().values
#Step 1
r = 102317206
a_r = 0.05 * (r % 7)
b_r = 0.3 * (r % 5 + 1)
#Step 2
z = x + a_r * np.sin(b_r * x)
#Step 3
mu = np.mean(z)
sigma = np.mean((z - mu) ** 2)
lambdaa = 1 / (2 * sigma)
c = np.sqrt(lambdaa / np.pi)
print("Parameters:")
print("mu =", mu)
print("lambda =", lambdaa)
print("c =", c)

Parameters:
mu = 21.147713187307595
lambda = 0.00229778768143052
c = 0.027044565726790013

In [7]:
pz = c * np.exp(-lambdaa * (z - mu) ** 2)
print("First 5 predicted probabilities:")
print(pz[:5])

First 5 predicted probabilities:
[0.02608736 0.01683214 0.02408164 0.02468327 0.01735768]